.layout {
    display: flex;
    flex-direction: column;
}

/* style for the main content */
main {
    position: relative;
    display: flex;
    /*justify-content: center;*/
    background-color: #fcfcfc;
    padding: var(--content-between) 0;
}

a {
    text-decoration: none;
    color: black;
}