/* Style for the div of the logo */
.logo {
    flex: 1;
    width: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 18pt;
    font-family: monospace;
    height: var(--header-height);
}